<!DOCTYPE html>
<html>
  <head>
    <%- include('shared/head_base', {title}); %>
  </head>
  <body>
    <%- include('shared/header'); %>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>Databse is <%= dbPresent ? "" : "not " %>present</p>
      <p>Your session id is <b><%= sessionId %></b></p>
    </main>
  </body>
</html>
