<!DOCTYPE html>
<html>
  <head>
    <%- include('shared/head_base', {title}); %>
    <% if (scripts !== undefined) { %>
      <% for(const script of scripts) { %>
        <script <%- script.module ? 'type="module"' : 'defer' %> src="<%- script.path %>"></script>
      <% } %>
    <% } %>
    <% if (headExtension !== undefined) { %>
     <%- include(headExtension.template, headExtension.data) %>
    <% } %>
  </head>
  <body>
    <%- include('shared/header'); %>
    <main id="page-main" <%- jsRequired ? 'style="display:none;"' : '' %>>
      <%- include(contentPath, contentData) %>
    </main>
    <% if (jsRequired) { %>
      <noscript id="page-nojs">This page requires JavaScript to be enabled</noscript>
      <script>
        document.getElementById('page-main').removeAttribute('style');
      </script>
    <% } %>
  </body>
</html>
