<!DOCTYPE html>
<html>
  <head>
    <%- include('shared/head_base', {title}); %>
    <% if (headExtension !== undefined) { %>
     <%- include(headExtension) %>
    <% } %>
  </head>
  <body>
    <%- include('shared/header'); %>
    <main id="page-main" <%- jsRequired ? 'style="display:none;"' : '' %>>
      <%- include(contentPath, contentData) %>
    </main>
    <% if (jsRequired) { %>
      <noscript id="page-nojs">This page requires JavaScript to be enabled</noscript>
      <script>
        document.getElementById('page-main').style.display = '';
      </script>
    <% } %>
  </body>
</html>
